<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uuno Uutisporttaali</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <div th:replace="fragments/navbar :: uuno_navbar_toimittaja(toimittaja=${toimittaja})"></div>
            <div class="container">
                <a style="margin-bottom: 10px;" type="button" class="btn btn-primary btn-lg " href="/toimittaja/kategoriat">Takaisin</a>
                <div class="well well-default">
                    <form class="form-inline" th:action="@{~/toimittaja/kategoria/{id}(id=${kategoria.getId()})}" th:method="POST">
                        <input type="text" class="form-control" id="teksti" name="teksti" th:value="${kategoria.teksti}" />
                        <label>
                            <input type="checkbox" class="checkbox" id="julkisuus" name="julkisuus" th:checked="${kategoria.julkisuus}" /> Julkinen kategoria
                        </label>
                        <input class="btn btn-primary" type="submit" value="Muokkaa"/>
                    </form>
                    <hr />
                    <form  class="form-inline" th:action="@{~/toimittaja/kategoria/{id}(id=${kategoria.getId()})}" th:method="DELETE">
                        <input class="btn btn-danger" type="submit" value="Poista kategoria"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
