<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uuno Uutisporttaali</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <div th:replace="fragments/navbar :: uuno_navbar_toimittaja(toimittaja=${toimittaja})"></div>

            <div class="container">
                <a style="margin-bottom: 10px;" type="button" class="btn btn-primary btn-lg " href="/toimittaja">Takaisin</a>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Uusi uutinen</h3>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{~/toimittaja/uutinen/}" th:method="POST" enctype="multipart/form-data" >
                        <label for="otsikko">Otsikko</label>
                        <input required="true" type="text" class="form-control" id="otsikko" name="otsikko" />
                        <label for="ingressi">Ingressi</label>
                        <input required="true" type="text" class="form-control" id="ingressi" name="ingressi" />
                        <label for="sisalto">Sisältö</label>
                        <textarea required="true" class="form-control" id="sisalto" name="sisalto" rows="5" ></textarea>
                        <label for="kategoriat">Kategoriat</label>
                        <select  required="true" multiple="true" class="form-control" id="kategoriat" name="kategoriat" size="7" >
                            <option th:each="kategoria : ${kategoriat}" th:text="${kategoria.teksti}" th:value="${kategoria.getId()}" ></option>
                        </select>
                        <label for="kuva">Kuva uutiselle</label>
                        <input type="file" name="kuva" id="kuva" accept="image/*" />
                        <input class="btn btn-primary" type="submit" style="margin-top: 20px;" value="Luo uutinen"/>
                    </form>
                    </div>
                </div>
                <div th:each="uutinen : ${uutiset}" style="margin-bottom: 20px;">
                    <a style="margin-top:5px;"type="button" class="btn btn-primary btn-lg btn-block" th:href="@{~/toimittaja/uutinen/{id}(id=${uutinen.getId()})}">
                        <label th:text="${uutinen.otsikko}">Uutisen otsikko</label>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
