<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uuno Uutisporttaali</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <div th:replace="fragments/navbar :: uuno_navbar(julkisetKategoriat=${julkisetKategoriat})"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">.col-md-4</div>
                    <div class="col-md-8">
                        <div class="well well-default" >
                            <h2 th:text="${uutinen.otsikko}">Uutisen otsikko</h2>
                            <img th:src="@{~/uutiskuva/{id}(id=${uutinen.getId()})}" width="100%"/>
                            <label th:text="${uutinen.getTimeStamp()}" > Julkaistu Aika</label><br />
                            <label th:text="${uutinen.getModifiedTimeStamp()}" > Muokattu aika</label><br />
                            <label th:text="${'Katseluja: ' + uutinen.visits}" > Julkaistu Aika</label><br />
                            <h4 th:text="${uutinen.sisalto}">Sisältö</h4>
                        </div>
                    </div>
                    <div class="col-md-2">.col-md-4</div>
                </div>
            </div>
        </div>
    </body>
</html>